{% load static %}
{% if bad_interfaces %}
<!DOCTYPE html>
<html>
    <head>
        <title>Bad Interfaces</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="header">
            <p>Bad Interfaces</p>
            <hr/>
        </div>
        <div class="maintext">
            <p>This displays all interfaces that are below the chosen receive (rx) threshold.</p>
            </br>
        </div>
        <div align="center">
            <table>
                <tr >
                    <style>th {padding: 10px;}</style>
                    <th align="center"> Switch </th>
                    <th align="center">  Int_name  </th>
                    <th align="center">  Rxlevel </th>
                    <th align="center"> Date </th>
                </tr>
                {% for interface in bad_interfaces %}
                <tr valign="Top">
                    <td valign="right">{{ interface.switch }}</td>
                    <td valign="right">{{ interface.int_name }}</td>
                    <td valign="right">{{ interface.rxlevel }}</td>
                    <td valign="right">{{ interface.date }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div align="center">
                <p><a class="link" href=#top>back to top</a></p>
        </div>
        <div align="center">
            <form action="{% url 'jns:faulty' %}" >
                <button class="button-link" type="submit">Back to Bad Interfaces</button>
            </form>
        </div>
        <div align="center">
            <form action="{% url 'jns:home' %}" >
                <button class="button-link" type="submit">Back to Home Screen</button>
            </form>
        </div>
    </body>
{% else %}
<!DOCTYPE html>
<html>
    <head>
        <title>Bad Interfaces Error</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="header">
            <p>No interfaces are available. Please select a lower threshold value.</p>
        </div>
        <div align="center">
            <form action="{% url 'jns:faulty' %}" >
                <button class="button-link" type="submit">Back to Bad Interfaces</button>
            </form>
        </div>
        <div align="center">
            <form action="{% url 'jns:home' %}" >
                <button class="button-link" type="submit">Back to Home Screen</button>
            </form>
        </div>
</body>
{% endif %}
