{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Network Topology</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>
    <body>
    <div>
        <p class="header">Network Topology</p>
        <hr/>
        <div class="maintext">
            <p>Enter the CORE/DIST router you wish to see the topology of.</p>
            <p>Please ensure the switch name is spelled correctly.</p></br>
            <p>Nodes can be selected to open the NetBox trace-path for that connection.</p>
        </div>
    </div>
    <div class="center padding">
        <form method="POST">
        {% csrf_token %}
            <div class="subtext">
                Router: <input class="textinput" type="text" name="textfield" required>
            </div>
            </br>
            <div align="center">
                {% if error %}
                <p class="subtext">{{ error }}</p>
                {% endif %}
                <button class="buttonsubmit" type="submit">Submit</button>
            </div>
        </form>
    </div>
    <div align="center">
        <form action="{% url 'jns:home' %}" >
            <button class="button-link" type="submit">Back to Home Screen</button>
        </form>
    </div>
    </body>
